html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: slategrey;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul a {
  justify-content: space-between;
  margin-left: 50px;
}

nav a {
  padding: 5px;
  align-items: center;
}
.menu-bar {
  text-align: center;
  padding: 27px;
  margin-left: 5px;
  margin-top: 0px;
}
.ssr-styles {
  border: 1px solid rgb(13, 206, 219);
  text-align: center;
  padding: 2px;

  width: 800px;
  margin: auto;
  margin-top: 15px;
}
.center1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.product-section {
  text-align: center;
}
.product-section h2 {
  color: rgb(24, 199, 230);
  background-color: rgba(203, 200, 193, 0.274);
}
b {
  color: rgb(124, 186, 38);
}

.Home{
text-align: center;
}
.form-2{
  text-align: center;
  align-items: center;
  justify-content: center;
display: inline-grid;

margin-left: 50px;
top: 50%;
  left: 50%;
margin: 0 auto;
}
.form-1
{
  align-items: center;
  margin-left:12rem;
}