.imgbg{
    background-image:url("https://images.news18.com/ibnlive/uploads/2022/02/lord-shiva.jpg?impolicy=website&width=0&height=0");
    text-align: center;
    height: 1500px;

}
.main_heading{
    self-align:center;
    color:blue;
}